// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('#{$path--rel}/bg-main.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
	text-align: center;
	h1 {
		padding-top: 140px;
	  color: white;
	}
	h2 {
		color: white;
	}
}
